body, html {
  margin: 0;
  padding: 0;
  height: 145%;
  overflow-x: hidden; /* Prevent horizontal scroll */
}

.background-wrapper {
  position: relative;
  min-height: 100vh; /* Ensure it covers the full viewport height */
  background-color: #2B2F30;
  /* Fallback background color */
}

.background-image {
  position: absolute;
  bottom: -10vh; /* Use vh for relative positioning */
  left: 0;
  width: 100%;
  height: auto;
  z-index: 1; /* Ensure the background image is behind other elements */
  opacity: 0.9; /* Adjust the opacity if needed */
}

.background-image-vec1 {
  position: absolute;
  bottom:3vh; /* Adjust as needed to move the image further down */
  left: 140vh;
  width: 35%;
  height: auto;
  z-index: 1; /* Ensure the background image is behind other elements */
  opacity: 0.9; /* Adjust the opacity if needed */
}

.background-image-vec2 {
  position: absolute;
  bottom: 0; /* Adjust as needed to move the image further down */
  left: 0;
  width: 19%;
  height: auto;
  z-index: 1; /* Ensure the background image is behind other elements */
  opacity: 0.9; /* Adjust the opacity if needed */
}

.background-image-vec3 {
  position: absolute;
  bottom: 0; /* Adjust as needed to move the image further down */
  right: 0;
  width: 60%;
  height: auto;
  z-index: 1; /* Ensure the background image is behind other elements */
  opacity: 0.9; /* Adjust the opacity if needed */
}


img {
  max-width: 100%;
  height: auto;
}

@media (max-width: 2000px) {
  .background-image-vec1 {
    bottom: -5vh;
    left: 135vh;
    width: 35%;
  }

  .background-image-vec2 {
    bottom: 30vh;
    left: -15vh;
    width: 20%;
  }

  .background-image-vec3 {
    bottom: 5vh;
    left: -15vh;
    width: 50%;
  }
}


/* @media (max-width: 2000px) {
  .background-image-vec1 {
    display:none
  }

  .background-image-vec2 {
    display:none
  }

  .background-image-vec3 {
    display:none;
  }
} */

/* @media (max-width: 1000px) {
  .background-image-vec1 {
    bottom: 0;
    left: 135vh;
    width: 100%;
  }

  .background-image-vec2 {
    bottom: 0;
    left: 0;
    width: 15%;
  }

  .background-image-vec3 {
    bottom: 0;
    right: 0;
    width: 50%;
  }
} */

@media (max-width: 1500px) {
  .background-image-vec1 {
    display:none
  }

  .background-image-vec2 {
    display:none
  }

  .background-image-vec3 {
    display:none
  }
}




@media (max-width: 800px) {
  .background-image-vec1 {
    display:none;
  }

  .background-image-vec2 {
    display:none;
  }

  .background-image-vec3 {
    display: none;
  }
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif !important;
}

img {
  max-width: 100%;
  height: auto;
}

/* @media (max-width: 1000px) {
  img {
    max-width: 100%;
  }
} */


@media (max-width: 1000px) {
  .background-image {
    max-width: 100%;
  }
}

.App {
  min-height: 100vh;
  width: 85vw;
  max-width: 1900px;
  margin: 0rem auto;
}

body {
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: #2B2F30;
  ;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 90px;
  margin-top: 1.1rem;
  z-index: 2; /* Ensure nav is above background image */
  position: relative;
}


.navbar-links-container a {
  margin-right: 3rem;
  text-decoration: none;
  color: black;
  font-size: 1.3rem;
  font-weight: 600;
}

.primary-button {
  padding: 0.9rem 1.75rem;
  background-color: #CFD850;
  outline: none;
  border: none;
  border-radius: 5rem;
  font-size: 1.2rem;
  cursor: pointer;
  font-weight: 600;
  transition: 0.2s;
}

.primary-button:hover {
  background-color: rgb(224, 255, 153);
}

@media (max-width: 1000px) {
  .navbar-links-container a {
    margin-right: 1rem;
    font-size: 1rem;
  }
  .primary-button {
    font-size: 1rem;
  }
}

@media (max-width: 800px) {
  .nav-logo-container {
    max-width: 140px;
  }
  .navbar-links-container {
    display: none;
  }
  .App {
    max-width: 95vw;
  }
}

.big-text-container {
  text-align: center;
  margin-top: 1rem; /* Reduced value to move the text higher */
  position: relative;
  z-index: 2;
}

.main-heading {
  font-size: 4.5rem; /* Adjust as needed */
  color: #ffffff; /* Adjust the color as needed */
  font-weight: 700; /* Bold text */
  margin-bottom: 0.2rem; /* Space between headings */
}

/* Sub Heading Style */
.sub-heading {
  font-size: 4.5rem; /* Adjust as needed */
  color: #ffffff; /* Adjust the color as needed */
  font-weight: 700; /* Bold text */
  margin-bottom: 0.5rem; /* Reduced value to decrease space */
}

.mission-statement-container {
  text-align: center;
  margin: 0.5rem auto; /* Adjust as needed to move it lower */
  max-width: 800px; /* Optional: to limit the width of the text block */
  padding: 1rem; /* Optional: to add some padding around the text */
  position: relative;
  z-index: 2;
}

/* Styling for the mission statement text */
.mission-statement {
  font-size: 1.5rem; /* Adjust the font size as needed */
  font-weight: 400; /* Normal font weight */
  color: #ffffff; /* Adjust the color as needed */
  line-height: 1.5; /* Adjust the line height for readability */
}

.ellipses-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.5rem; /* Adjust this value to move the container higher or lower */
  position: relative;
  z-index: 2;
}

.ellipse {
  width: 12px; /* Adjust size as needed */
  height: 12px; /* Adjust size as needed */
  margin: 0 8px; /* Adjust spacing as needed */
}

.launching-soon {
  font-size: 1.5rem; /* Adjust font size as needed */
  color: #CFD850; /* Adjust color as needed */
  font-weight: 400; /* Normal font weight */
  margin: 0 10px; /* Adjust spacing as needed */
  font-style: italic;
}

.email-form {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 10vh; /* Reduced height to decrease spacing */
  position: relative;
  z-index: 2;
}

.email-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px; /* Reduced space between the input and the button */
}

.email-input {
  width: 400px; /* Adjust the width as needed */
  
  
}
.email-input input {
  color: white; /* Change text color to white */
}

.email-input .MuiOutlinedInput-root {
  border-radius: 15px; /* Rounded corners */
  box-shadow: 0px 3px 6px rgba(253, 253, 253, 0.1); /* Box-shadow */
}

.email-input .MuiOutlinedInput-notchedOutline {
  border-width: 2px; /* Thicker border */
  border-color: #CFD850 !important; /* Ensure the border color is applied */
}

.email-input .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
  border-color: #CFD850 !important; /* Hover border color */
}

.email-input .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: #CFD850 !important; /* Focus border color */
}

.email-input .MuiInputLabel-root {
  color: #CFD850 !important; /* Label color */
}

.email-input .MuiInputLabel-root.Mui-focused {
  color: #CFD850 !important; /* Focused label color */
}



.waitlist-button {
  padding: 0.9rem 1.75rem;
  background-color: #CFD850 !important;
  color: #000000 !important;
  border-radius: 15px !important; /* Rounded corners */
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1) !important; /* Box-shadow */
    padding: 15px 25px !important; /* Increased padding for a bigger button */
    font-size: 1rem !important; /* Increased font size */
    min-width: 200px !important; /* Minimum width to ensure button is larger */
  cursor: pointer;
  font-weight: 600;
  transition: 0.2s;
}

.waitlist-button:hover {
  background-color: rgb(224, 255, 153) !important;
}

.footer-statement-container {
  text-align: center;
  margin: 0.1rem auto; /* Adjust as needed to move it lower */
  max-width: 800px; /* Optional: to limit the width of the text block */
  padding: 1rem; /* Optional: to add some padding around the text */
  position: relative;
  z-index: 2;
}

/* Styling for the footer statement text */
.footer-statement {
  font-size: 1.2rem; /* Adjust the font size as needed */
  font-weight: 400; /* Normal font weight */
  color: #ffffff; /* Adjust the color as needed */
  line-height: 1.5; /* Adjust the line height for readability */
  font-style: italic;
}

.modal-title {
  font-size: 2.3rem; /* Equivalent to h4 */
  font-weight: 500;
  margin-top: 4rem; /* Adjust as needed */
  text-align: center;
}

.modal-description {
  font-size: 1.5rem; /* Equivalent to h5 */
  margin-top: 1rem; /* Adjust as needed */
  text-align: center;
}

@media (max-width: 800px) {
  .big-text-container {
    margin-top: 0.5rem; /* Adjust margin */
  }

  .main-heading, .sub-heading {
    font-size: 3.5rem; /* Adjust font size */
  }

  .mission-statement-container {
    margin: 0.3rem auto; /* Adjust margin */
    padding: 0.8rem; /* Adjust padding */
  }

  .mission-statement {
    font-size: 1.2rem; /* Adjust font size */
  }

  .ellipses-container {
    margin-top: 0.3rem; /* Adjust margin */
  }

  .launching-soon {
    font-size: 1.2rem; /* Adjust font size */
  }

  .email-input {
    width: 300px; /* Adjust width */
  }

  .waitlist-button {
    padding: 0.8rem 1.5rem; /* Adjust padding */
    font-size: 0.9rem !important; /* Adjust font size */
    min-width: 180px !important; /* Adjust min-width */
  }

  .footer-statement {
    font-size: 1rem; /* Adjust font size */
  }

  .modal-title {
    font-size: 2rem; /* Adjust font size */
  }

  .modal-description {
    font-size: 1.2rem; /* Adjust font size */
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

a#scroll-btn {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 3em solid transparent;
  border-right: 3em solid transparent;
  border-top: 2em solid #ffffff; /* Adjust the size and color */
  margin: auto;
  left: 0;
  right: 0;
  bottom: 4.5em; /* Adjusted bottom position */
}

@keyframes move-down {
  80% {
    opacity: 0.5;
  }
  100% {
    transform: translateY(1.5em); /* Adjusted translation */
    opacity: 0;
  }
}

a#scroll-btn:after {
  position: absolute;
  content: "Learn More";
  width: 100px; /* Ensure container is wide enough */
  display: block;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  bottom: 3em; /* Adjusted bottom position for above the triangle */
  font-size: 0.9em; /* Reduced font size */
  color: #ffffff;
  letter-spacing: 1.2px; /* Adjusted letter spacing */
  font-weight: 400;
  font-style: italic;
}

@media screen and (max-width: 1000px) {
  a#scroll-btn {
    font-size: 12px;
    margin-top: auto;

  }
}

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f2f2f2;
} */

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.logos {
  overflow: hidden;
  padding: 60px 0;
  background: white;
  white-space: nowrap;
  position: relative;
}

.logos:before,
.logos:after {
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  content: "";
  z-index: 2;
}

.logos:before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
}

.logos:after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}

.logos:hover .logos-slide {
  animation-play-state: paused;
}

.logos-slide {
  display: inline-block;
  animation: 35s slide infinite linear;
}

.logos-slide img {
  height: 50px;
  margin: 0 40px;
}

.second-page-title-container {
  text-align: center;
  top: 55rem; /* Adjust as needed to move it lower */
  left: 50%; /* Center horizontally */
  transform: translateX(-50%); /* Center horizontally */
  position: absolute;
  z-index: 2;
}

.second-page-title {
  font-size: 3rem; /* Adjust the font size as needed */
  font-weight: 400; /* Normal font weight */
  color: #ffffff; /* Adjust the color as needed */
  line-height: 1.5; /* Adjust the line height for readability */
  /* font-style: italic; */
}


.second-page-text-container {
  text-align: center;
  margin: 20.5rem auto; /* Adjust as needed to move it lower */
  max-width: 1000px; /* Optional: to limit the width of the text block */
  padding: 1rem; /* Optional: to add some padding around the text */
  left: 12%; /* Center horizontally */
  position: absolute;
  z-index: 2;
}

/* Styling for the mission statement text */
.second-page-text {
  font-size: 1.5rem; /* Adjust the font size as needed */
  font-weight: 400; /* Normal font weight */
  color: #ffffff; /* Adjust the color as needed */
  line-height: 1.5; /* Adjust the line height for readability */
}




.second-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}


.second-page-text-container {
  text-align: center;
  margin-bottom: 20px;
}


.rectangle-container {
  display: flex;
  align-items: center; /* From the first rule */
  margin: 40rem auto; /* From the first rule */
  justify-content: space-around; /* From the second rule */
  position: absolute; /* From both rules */
  z-index: 2; /* From the first rule */
  bottom: -170vh; /* From the second rule */
  width: 100%; /* From the second rule */
  max-width: 1200px; /* From the second rule */
  margin-top: 20px; /* From the second rule */
}


.rectangle-container img {
  width: 100%;
  max-width: 250px; /* Maximum size each image can reach */
  height: auto; /* Maintains aspect ratio */
  transition: transform 0.3s ease; /* Optional: adds animation on resize */
}


.offer {
  flex-grow: 0.5; /* Allows the images to grow and fill the space */
  padding: 10px; /* Adds some space around the images */
}

/* Optionally, add hover effects to scale images */
.rectangle-container img:hover {
  transform: scale(1.1); /* Makes the image larger when hovered */
}

.image-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center aligns the image and text vertically */
  padding: 10px;
}

.image-container img {
  width: 100%;
  max-width: 250px;
  /*height: auto;*/
  transition: transform 0.3s ease;
}

.image-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px; /* Adjust as needed */
}

.image-text {
  margin-top: 15px; /* Space between the lines of text */
  color: white; /* Text color */
  font-size: 18px; /* Adjust as needed */
  text-align: center; /* Center the text under the image */
  font-weight: 500;
}

@media (max-width: 800px) {
  .second-page-title-container {
    margin-top: 30rem; /* Adjust margin */
  }

  .second-page-title {
    font-size: 3rem; /* Adjust font size */
  }

  .mission-statement-container {
    margin: 0.3rem auto; /* Adjust margin */
    padding: 0.8rem; /* Adjust padding */
  }

  .mission-statement {
    font-size: 1.2rem; /* Adjust font size */
  }

  .ellipses-container {
    margin-top: 0.3rem; /* Adjust margin */
  }

  .launching-soon {
    font-size: 1.2rem; /* Adjust font size */
  }

  .email-input {
    width: 300px; /* Adjust width */
  }

  .waitlist-button {
    padding: 0.8rem 1.5rem; /* Adjust padding */
    font-size: 0.9rem !important; /* Adjust font size */
    min-width: 180px !important; /* Adjust min-width */
  }

  .footer-statement {
    font-size: 1rem; /* Adjust font size */
  }

  .modal-title {
    font-size: 2rem; /* Adjust font size */
  }

  .modal-description {
    font-size: 1.2rem; /* Adjust font size */
  }

}